.field-help {
    float: right;
    margin-right: 0.4em;
}

.field-text {
    display: inline-block;
    border-bottom: 1px dotted #888;
    line-height: 95%;
}

.field-text:focus {
    outline: 0px solid transparent;
}

.field-help-min-width {
	min-width: 150px;
	width: max-content;
}
