.snapshot-detail-container {
    display: flex;
    width: 100%;
}

.snapshot-detail-container dt {
    clear: left;
    float: left;
    width: 150px;
    min-height: 26px;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: left;
}

.snapshot-detail-container dd {
    min-height: 26px;
    max-width: 5000px;
    text-overflow: ellipsis;
    text-align: left;
}

.snapshot-detail-container dd a {
    cursor: pointer;
}

.snapshot-properties {
    width: 50%;
    min-width: 300px;
}

div.popover {
  min-width: 200px;
  max-width: 1000px;
  z-index: 20;
}

@media only screen and (max-width: 600px) {
  div.popover {
    width: 90%;
    margin: 0px 5%;
  }

  .snapshot-detail-container {
    display: inline;
    overflow-wrap: break-word;
  }
  
  .snapshot-detail-container dl {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    margin: 0px;
  }

  .snapshot-detail-container dt {
    white-space: normal;
    width: 50%;
    padding-right: 3px;
    padding-left: 3px;
  }

  .snapshot-detail-container dd {
    width: 50%;
    float: right;
  }
}

.green {
  color: #3f9c35;
}

.black {
  color: black;
}

.red {
  color: red;
}

.status-icon svg {
  margin-right: 5px;
}

.snapshot-disk-list {
  display: table;
}

.snapshot-item {
  display: table-row;
}

.snapshot-item a {
  cursor: pointer;
  font-size: 14px;
}

.snapshot-item-status {
  display: table-cell;
}

.snapshot-item-name {
  display: table-cell;
  padding-left: 5px;
  padding-right: 5px;
}

.snapshot-item-time {
  color: #808080;
  display: inline-block;
  overflow-wrap: break-word;
}

.snapshot-item-actions {
  display: table-cell;
  white-space: nowrap;
  padding-left: 5px;
}

.snapshot-item-actions a + a {
  margin-left: 5px;
}

.snapshot-create a svg {
  margin-right: 5px;
}

.snapshot-create a {
  cursor: pointer;
  font-size: 14px;
}

.no-nics, .no-disks {
  font-style: italic;
  color: rgba(0, 0, 0, 0.65);
}
