.vm-properties {
    font-size: large;
}

dt {
    clear: left;
    float: left;
    width: 200px;
    min-height: 26px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #888;
    font-weight: normal;
    text-align: left;
}

dd {
    margin-left: 110px;
    min-height: 26px;
    max-width: 1000px;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-top: 2px;
}

.vm-detail-icon { /* small VM icon on detail page*/
}

.left-delimiter {
    padding: 0 13px 0 0;
}

.left-delimiter + .left-delimiter {
    padding-left: 13px;
    border-left: 1px solid #d1d1d1;
}
