.vm-detail-container {
    display: flex;
}

.vm-detail-container dt {
    clear: left;
    float: left;
    width: 200px;
    min-height: 26px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #888;
    font-weight: normal;
    text-align: left;
}

.vm-detail-container dd {
    margin-left: 110px;
    min-height: 26px;
    max-width: 1000px;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-top: 2px;
}

.left-delimiter {
    padding: 0 13px 0 0;
}

.left-delimiter + .left-delimiter {
    padding-left: 13px;
    border-left: 1px solid #d1d1d1;
}

.options-btn {
    vertical-align: middle;
    margin-left: 5px;
    color: gray;
}

.header {
    padding-bottom: 15px;
}

.show-hide-arrow {
    font-size: small;
    margin-left: 1em;
}

.console-vm-not-running {
    color: #888;
    padding: 0 13px 0 0;
}

.console-vm-not-running + .console-vm-not-running {
    padding-left: 13px;
    border-left: 1px solid #d1d1d1;
}

.vms-nav-expanded {
    padding-left: 200px;
    transition: padding-left .5s;
}

.vms-nav-collapsed {
    padding-left: 2em;
    transition: padding-left .5s;
}

.vm-flag-container {
    float: right;
    top: -5em;
    position: relative;
}

.vm-flag {
    font-size: 100%;
    vertical-align: middle;
}
