.card-pf-icon {
    overflow: hidden;
    display: block;
    height: 106px;
    margin: 0 auto;
}

.crop {
    overflow: hidden;
    text-overflow: ellipsis;
    width: inherit;
    white-space: nowrap;
}

.scrollingWrapper {
    position: relative;
}

.overlay {
    transition: all 0.6s;
    z-index: 10;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    opacity: 0;
    background-color: lightgrey;
    display: none;
}

.vm-name {
    font-size: 0.8em;
    min-height: 0.8em;
}

.vm-status {
    font-size: 0.8em;
    min-height: 46px;
}

.selectedVm {
    z-index: 20;
}

.vm-detail-link {
    color: black;
}

.card-icon {
    text-align: center;
    height: 134px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.status-height {
    margin-bottom: 30px !important;
}

.pool-top-line {
    width: 100%;
    background: blue;
    height: 5px;
    margin-top: -2px;
    margin-left: -2px;
    float: left;
}

.pool-vm-label {
    padding: 5px 10px;
    color: white;
    position: absolute;
    top: 15px;
    left: 20px;
}

.pool-os-label {
    margin-top: -5px;
}

dl.pool-info {
    width: 65%;
    margin-right: auto;
    margin-left: auto;
    font-size: 14px;
}

dl.pool-info dt {
    width: 70%;
    display: inline-block;
    text-align: left;
    font-weight: lighter;
}

dl.pool-info dd {
    width: 30%;
    display: inline-block;
}
