.card-pf-icon {
    overflow: hidden;
    display: block;
    height: 106px;
    margin: 0 auto;
}

.crop {
    overflow: hidden;
    text-overflow: ellipsis;
    width: inherit;
    white-space: nowrap;
}

.overlay {
    transition: all 0.6s;
    z-index: 10;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    opacity: 0;
    background-color: lightgrey;
    display: none;
}

.vm-name {
    font-size: 1em;
    min-height: 1em;
    margin-bottom: 10px;
}

.vm-status {
    font-size: 1em;
    min-height: 46px;
    margin-bottom: 10px;
}

.vm-detail-link {
    color: black;
}

.card-icon {
    text-align: center;
    height: 134px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.status-height {
    margin-bottom: 30px !important;
}

.pool-vm-label {
    padding: 0 10px;
    color: white;
    float: left;
    height: 2rem;
    margin-top: 5px;
    margin-left: 5px;
    display: flex;
    align-items: center;
}

.actions-container {
    /*
    reserve space so that the card without action buttons has
    the same height as other cards. To get the right height
    use constants from PF4 button.css 
    button height = padding-top + padding-bottom + line-height * font-size
    */
    --action-button-height: calc(2 * var(--pf-global--spacer--form-element) + var(--pf-global--LineHeight--md) * var(--pf-global--FontSize--md));
    min-height: var(--action-button-height);
    display: flex;
    align-items: center;
    justify-content: center;
}

dl.pool-info {
    margin-right: auto;
    margin-left: auto;
    font-size: 14px;
}

dl.pool-info dt {
    width: 70%;
    display: inline-block;
    text-align: left;
    font-weight: lighter;
}

dl.pool-info dd {
    width: 30%;
    display: inline-block;
}

.scroll-container-wrapper {
    position: relative;
}

.scroll-container {
    overflow-y: auto;

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    margin-top: 0;
    padding-top: 20px;

    scrollbar-gutter: stable;
}

.gallery-container {
    padding-left: var(--pf-global--gutter);
    /** reserve space for scrolling: 100vw - 100% returns the scrollbar width */
    padding-right: calc(var(--pf-global--gutter) - (100vw - 100%));
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
}

.infinite-scroll-sentinel {
    width: 100%;
    text-align: center;
    font-style: italic;
    font-weight: bold;
}
