.card-pf-icon {
    overflow: hidden;
    display: block;
    height: 106px;
    margin: 0 auto;
}

.crop {
    overflow: hidden;
    text-overflow: ellipsis;
    width: inherit;
    white-space: nowrap;
}

.scrollingWrapper {
    position: relative;
}

.overlay {
    transition: all 0.6s;
    z-index: 10;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    opacity: 0;
    background-color: lightgrey;
    display: none;
}

.vm-name {
    font-size: 0.8em;
    min-height: 0.8em;
}

.vm-status {
    font-size: 0.8em;
    min-height: 2.5em;
}

.selectedVm {
    z-index: 20;
}

.vm-detail-link {
    color: black;
}

.card-icon {
    text-align: center;
    height: 134px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.status-height {
    margin-top: 5px !important;
}
