.movable-left { /* general transition properties */
    transition: all 0.6s;
    transform-origin: 0 50%;
    transition-timing-function: ease-out;

    overflow: auto;
    height: calc(100vh - 49px);
}

.moved-left { /* altered state */
    transform: perspective(1000px) rotateY(50deg);
    overflow: hidden; /* scrolling disabled */
}

.card-pf-icon {
    overflow: hidden;
    display: block;
    height: 106px;
    margin: 0 auto;
}

.crop {
    overflow: hidden;
    text-overflow: ellipsis;
    width: inherit;
}

.scrollingWrapper {
    position: relative;
}

.overlay {
    transition: all 0.6s;
    z-index: 10;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    opacity: 0;
    background-color: lightgrey;
    display: none;
}

.moved-left .overlay {
    display: block;
    opacity: 0.4;
}

.vm-name {
    font-size: 0.8em;
    min-height: 2.5em;
}

.selectedVm {
    z-index: 20;
}
