.card-pf-icon {
    overflow: hidden;
    display: block;
    height: 106px;
    margin: 0 auto;
}

.crop {
    overflow: hidden;
    text-overflow: ellipsis;
    width: inherit;
    white-space: nowrap;
}

.scrollingWrapper {
    position: relative;
}

.overlay {
    transition: all 0.6s;
    z-index: 10;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    opacity: 0;
    background-color: lightgrey;
    display: none;
}

.vm-name {
    font-size: 0.8em;
    min-height: 0.8em;
}

.vm-status {
    font-size: 0.8em;
    min-height: 2.5em;
}

.selectedVm {
    z-index: 20;
}

.vm-detail-link {
    color: black;
}

.loaderBox {
    width: 100%;
    text-align: center;
    align-content: center;
}

.loader {
    border: 12px solid #f3f3f3; /* Light grey */
    border-top: 12px solid #292e34; /* Blue */
    border-radius: 50%;
    width: 100px;
    height: 100px;
    animation: spin 2s linear infinite;
    margin-left: auto;
    margin-right: auto;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.card-icon {
    text-align: center;
    height: 134px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.status-height {
    margin-top: 5px !important;
}
