.confirmation-text {
    margin: 0;
    padding: .3em 0;
    font-size: small;
}

.confirmation-toolbar {
    margin-top: 10px;
    paddingBottom: 6px;
    float: right;
}

.confirmation-extra-button {
    margin-left: 15px !important;
}
