.confirmation-body {
    display: flex;
    flex-direction: column;
    align-content: center;
}

.confirmation-text {
    margin: 0 0 5px 0;
    padding: .3em 0;
    font-size: small;
    text-align: center;
}

.confirmation-toolbar {
    margin-top: 5px;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
}

.confirmation-extra-button {
    margin-left: 15px !important;
}

.confirmation-ok-button {
    margin-right: 2px !important;
}
