.loading-data {
    max-width: 10em;
    position: fixed;
    z-index: 2000;
    padding: 2px;
    top: 2.4em;
    margin-left: 50%;
    border-color: #ecc89e;
    min-width: 100px;
    text-align: center;
}
