.full-width {
  width: 100%;
}

:global(.toolbar-pf-actions) {
  margin-bottom: 0;
}

.console-toolbar {
  height: 27px;
  display: flex;
  font-size: 14px;
  line-height: 1.8;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 10px;
  margin-top: 10px;
}

.console-toolbar-actions {
  display: flex;
}

.console-toolbar-actions :global(.btn.btn-default) {
  margin-right: 10px;
}

.selector-overflow :global(.dropdown-menu) {
  overflow: auto;
  max-height: 600px;
}

:global(.pf-c-toolbar.vm-list-toolbar) {
  padding-top: 5px;
  padding-bottom: 5px;
}
