.no-items {
  font-style: italic;
  text-align: center;
  color: #8B8D8F;
}

/* create action */

/* .create-block {} */

.create-block .create-icon {
  font-size: 14px;
}

.create-block .create-text {
  padding-left: 5px;
  font-size: 14px;
}

/* for a single item row (containing exactly a -status, -info and -actions) */
.item-row {
  width: 100%;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: baseline;
}

.item-row .item-row-status {
  flex: 0 0;
}

.item-row .item-row-info {
  flex: 1;
  padding-left: 5px;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: baseline;

  max-width: 100%;
}

.item-row .item-row-info.no-status {
  padding-left: 0px;
}

.item-row .item-row-actions {
  flex: 0 0;
  padding-left: 5px;

  white-space: nowrap;
}

.item-row .item-row-actions .item-action {
  cursor: pointer; /* so any tag can look like a <a href='...'> */
  color: black;
  font-size: 14px
}

.item-row .item-row-actions .item-action + .item-action {
  padding-left: 5px;
}

.item-row .item-row-actions .item-action-disabled {
  color: #8B8D8F;
}
