/* ---> VmDetailsContainer (index.js) styles */
.details-container {
  padding: 20px 25px 0 25px;
}

/* ---> CardEditButton styles */
.card-edit-button {
  float: right;
  width: 25px;
  height: 25px;
  border: none;

  display: flex;
  align-items: center;
  justify-content: center;
}

.base-card-body .card-edit-button {
  margin-top: -5px;
}

.card-edit-button:hover {
  text-decoration: none;
}

.card-edit-button-disabled {
  color: darkgrey;
}

.card-edit-button-enabled {
  color: black;
}

/* ---> BaseCard styles */
:global(.pf-c-card).base-card {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.base-card-heading {
  flex-shrink: 0;
  margin-bottom: 0;
  justify-content: space-between;
  border-bottom: 1px solid #d1d1d1;
}

.base-card-title-icon {
  margin-right: 6px; /* match the left margin on .badge */
  vertical-align: top;
}

.base-card-item-count-badge {
  vertical-align: top;
}

.base-card-body {
  flex: 1 0 0;
  margin-top: 15px;
}

.base-card-footer {
  flex-shrink: 0;
}

div.base-card.cell-card {
  flex-basis: auto;
}

@media only screen and (max-width: 800px) {
  .col-overview, .col-details, .col-snapshots, 
  .col-utilization, .col-nics-disks
  {
    min-width: 100%;
  }
}

@media only screen and (max-width: 1200px) and (min-width: 801px) {
  .col-overview, .col-utilization
  {
    min-width: 100%;
  }

  .col-snapshots
  {
    min-width: 40%;
  }

  .col-details
  {
    min-width: 60%;
  }
 
  .col-nics-disks
  {
    min-width: 100%;
    flex-direction: row;
  }

  .col-disks 
  {
    margin-left: 20px;
  }
}
