.panel-body {
    padding: 0;
    background-color: #fff;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}

.drawer-pf-notifications-list {
    border: solid 1px #d1d1d1 !important;
    padding: 10px 0 !important;
    margin: 0;
    overflow-y: auto;
}

.drawer-pf-action-clear-notification-list {
    flex: auto;
    overflow-y: auto;
}

.usermessages-icon {
    float: left;
    padding-right: calc(4px + 3px); /* Got it from '.navbar-pf-vertical .nav .nav-item-iconic > .pficon-user' to make it more visual similar */
}
