.panel-body {
    padding: 0;
    background-color: #fff;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}

.notifications-list {
    overflow-y: auto;
}

.action-panel {
    border-top: solid 1px #d1d1d1;
}

.usermessages-icon {
    float: left;
    padding-right: calc(4px + 3px); /* Got it from '.navbar-pf-vertical .nav .nav-item-iconic > .pficon-user' to make it more visual similar */
}
