.panel-body {
    border-bottom: 1px solid #d1d1d1;
    padding: 0;
    background-color: #fff;
}

.usermessages-icon {
    float: left;
    padding-right: calc(4px + 3px); /* Got it from '.navbar-pf-vertical .nav .nav-item-iconic > .pficon-user' to make it more visual similar */
}
