.vm-detail-settings {
    transition: max-height 1s;
    max-height: 0px;
    overflow: hidden;
    width: 100%;
    margin-left: 2em;
}

.open-settings {
    max-height: 500px;
    margin-left: 2em;
}

.console-option-description {
    width: 20em;
}
