.vm-detail-settings {
    transition: height 1s;
    height: 0px;
    overflow: hidden;
    width: 100%;
    margin-left: 2em;
}

.open-settings {
    height: 110px;
    margin-left: 2em;
}

.console-option-description {
    width: 20em;
}
