.vm-detail-settings {
    transition: height 1s;
    height: 0px;
    overflow: hidden;
    width: 100%;
}

.open-settings {
    height: 7em;
    margin-left: 2em;
}

.console-option-description {
    width: 20em;
}

.console-client-resources {
    color: #888;
}
