.disks-list {
    transition: height 1s;
    height: 0px;
    overflow: hidden;
    width: 100%;
    margin-left: 2em;
}

.open-disks {
    height: 110px;
    margin-left: 2em;
}

.disks-ul {
    list-style-type: none;
    padding: 0;
}

.smaller {
    font-size: 50%;
    vertical-align: middle;
}

.light {
    color: #888;
}
