/*
 * Styles for the Overview Card
 */

.operating-system-label {
  position: absolute;
  top: 0;
  right: 10px;
  margin: auto;
}

.vm-info {
  padding: 15px;
  flex-grow: 1
}

.vm-name {
  font-size: 150%;
  margin-bottom: 5px;
}

.vm-name :global(.help-block) {
  font-size: 10px;
}

.vm-status {
  margin-bottom: 5px;
}

.vm-status .vm-status-icon {
  margin: 2px;
}

.vm-status .vm-status-text {
  margin-left: 5px;
}

.vm-uptime {
  color: rgba(0, 0, 0, 0.65);
  font-style: italic;

  padding-left: 15px;
}

.vm-margin-top25 {
  margin-top: 25px;
}

.vm-description {
  white-space: pre-wrap;
}

.vm-checkbox {
  font-size: 10px;
  line-height: 20px;
  padding-left: 10px;
}

.os-icon {
  padding: 15px;
}

.container {
  display: flex;
  overflow: visible;
  flex-flow: row wrap;
}

.pool-vm-label {
    padding: 5px 10px;
    color: white;
    position: absolute;
    top: 15px;
    left: 30px;
}
