/*
 * Styles for the Overview Card
 */

.operating-system-label {
  position: absolute;
  top: 0;
  right: 10px;
  margin: auto;
}

.vm-name {
  font-size: 150%;
  margin-bottom: 5px;
}

.vm-name :global(.help-block) {
  font-size: 10px;
}

.vm-status {
  margin-bottom: 5px;
}

.vm-status .vm-status-icon {
  margin: 2px;
}

.vm-status .vm-status-text {
  margin-left: 5px;
}

.vm-uptime {
  color: rgba(0, 0, 0, 0.65);
  font-style: italic;

  padding-left: 15px;
}

.vm-description {
  white-space: pre-wrap;
}

.vm-checkbox {
  font-size: 10px;
  line-height: 20px;
  padding-left: 10px;
}

.vm-checkbox :global(.bootstrap-switch) {
  margin-right: 10px;
}

.vm-checkbox :global(.bootstrap-switch-container .bootstrap-switch-label) {
  height: 20px !important;
}

.vm-checkbox :global(.bootstrap-switch.bootstrap-switch-mini .bootstrap-switch-handle-on),
.vm-checkbox :global(.bootstrap-switch.bootstrap-switch-mini .bootstrap-switch-handle-off) {
  line-height: 1;
}
