.action-disabled {
    color: lightgrey;
}

.left-delimiter {
    padding: 0 13px 0 15px;
    font-size: 16px;
    color: black;
}

.left-delimiter + .left-delimiter {
    border-left: 1px solid #d1d1d1;
}

.left-padding {
    text-align: left;
}

.action-link {
	color: #363636;
}

.link {
	height: 27px;
}

.disabled-button {
	line-height: 21px;
}

.full-button {
	display: inline-block;
	margin-left: 5px;
}

.full-button:first-child {
    margin-left: 0!important;
}

.margin-left-link {
	margin-left: 15px!important;
}
