.action-disabled {
    color: lightgrey;
}

.left-delimiter {
    padding: 0 13px 0 15px;
    font-size: 16px;
    color: black;
}

.left-delimiter + .left-delimiter {
    border-left: 1px solid #d1d1d1;
}

.actions-toolbar {
    text-align: left;
    margin-bottom: 10px;
}

.action-link {
    color: #363636;
}

.link {
    height: 27px;
}

.disabled-button {
    line-height: 21px;
    margin-left: 5px;
}

.full-button {
    display: inline-block;
    text-align: center;
    margin-left: 5px;
}

.full-button:first-child {
    margin-left: 0!important;
}

.button-spacer {
    width: 5px; /* match .full-button left margin */
    display: inline-block;
}

.action-height {
    height: 27px;
    margin-top: 5px !important;
}

.action-height button {
    height: 27px;
}

:global(.actions-line .dropdown) {
    margin-left: 5px;
}

:global(.actions-line .dropdown) > :global(.btn):first-child {
    height: 27px;
}

:global(.dropdown-menu) > .menu-item-danger > a {
    color: #cc0000;
}

:global(a#console-selector)  {
    box-shadow: none;
}
