/* For VmDetail and VmDialog */
.vm-properties {
  font-size: large;
  width: 50%;
  min-width: 500px;
}

.dropdown-button {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.dropdown-button-text {
  flex-grow: 1;
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
}

.dropdown {
  width: 100%;
  max-height: 300px;
  overflow: auto;
  text-align: left;
}

.dropdown li {
  cursor: pointer;
}

/* For DetailContainer (in VmDetail and VmDialog) */
.move-left-detail {
  height: 100%;
  display: block;
  width: 95%;
  opacity: 1;
}

.detail-z-index {
  z-index: 1050;
}

/* For Toast Notifications */
.toast-margin-top {
    margin-top: 0;
}

.toast-console-message {
  text-align: center;
  align-content: center;
  margin-top: 60px;
  margin-left: 43%;
  position: absolute;
}
/* For VM Card List and VM Details Overview Card */
.operating-system-label {
  font-size: 10px;
  height: 18px;
  padding: 0 6px;
  text-transform: uppercase;
  font-weight: 700;
  color: #363636;
  background-color: #ededed;
  min-width: 100px;
  margin: -2px -2px 2px auto;
  float: right;
  text-align: center;
}

.header-remover :global(.modal-header) {
  display: none;
}

.header-remover :global(.modal-body) {
  margin-top: 15px;
}

.loaderBox {
    width: 100%;
    text-align: center;
    align-content: center;
    margin-top: 60px;
}

.loader {
    border: 6px solid #e3e3e3; /* Light grey */
    border-top: 6px solid #292e34; /* Blue */
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 2s linear infinite;
    margin-left: auto;
    margin-right: auto;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
