/* For VmDetail and VmDialog */
.vm-properties {
  font-size: large;
  width: 50%;
  min-width: 500px;
}

.dropdown-button {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.dropdown-button-text {
  flex-grow: 1;
  text-align: left;
}

.dropdown {
  width: 100%;
  max-height: 300px;
  overflow: auto;
  text-align: left;
}

.dropdown li {
  cursor: pointer;
}

/* For DetailContainer (in VmDetail and VmDialog) */
.move-left-detail { /* VM detail on the right */
  height: 100%;
  display: block;
  max-width: 95%;
  width: 100%;
  opacity: 1;
}

.detail-z-index {
  z-index: 1050;
}
