.main-container {
    flex-shrink: 0;
    flex-basis: 0;
    transition: flex-basis 0.5s;
    position: relative;
    border-right: solid thin #ccc;
}

.expanded {
    flex-basis: 200px;
}

.toggle-expand-button {
    position: absolute;
    left: 100%;
    top: 0;
    background-color: #bbb;
    border-radius: 0 0 4px 0;
    font-size: large;
}

.toggle-expand-button-expanded {
    left: auto;
    right: 0;
    border-radius: 0 0 0 4px;
}

.toggle-expand-button a {
    padding: 0 .5em;
    text-align: center;
    display: inline-block;
}

.toggle-expand-button a {
    color: #363636;
}

.scrolling-viewport {
    overflow: auto;
    position: relative;
    margin-top: 30px;
    height: calc(100% - 30px)

}

.ul-menu-cust {
    list-style: none;
    padding: 0;
    width: 100%;
    border-top: thin dashed #ccc;
    height: 100%;
    overflow-y: auto;
}

.item {
    height: 20px;
    min-width: 100%;
    overflow: hidden;
}

.item:hover:not(.item-selected) {
    overflow: visible;
    background-color: #def3ff;
    border-color: #bee1f4;
    display: inline-block;
}

.item > * {
    text-decoration: none;
    color: #4d5258;
    padding: 1px 10px;
    border: solid 1px transparent;
    line-height: 20px;
    display: flex;
}

.item-link {
    text-decoration: none !important;
    min-width: 100%;
}

.item-link:hover {
    overflow: visible;
}

.item-text {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: visible;
}

.item-selected {
    /*border: thin dotted grey;*/
    background-color: #eee;
}
