.utilization-card .chart-card {
  box-shadow: none;
  margin-left: -20px;
  margin-right: -20px;
  margin-bottom: 0;

  padding: 0 10px;

  display: flex;
  flex-direction: column;
}

.utilization-card .chart-card :global(.card-pf-body) {
  padding-bottom: 0;
  flex-grow: 1;

  display: flex;
  flex-direction: column;
}

.no-data-card-body {
  flex-grow: 1;
  padding: 0 10px;
  margin-bottom: 20px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.no-data-card-body .no-data-icon {
  font-size: 32pt;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.3);
}

.no-data-card-body .no-data-title {
  text-align: center;
  font-size: 150%;
  color: rgba(0, 0, 0, 0.65);
}

.no-data-card-body .no-data-message {
  text-align: center;
  color: rgba(0, 0, 0, 0.65);
}

.no-history-chart {
  height: 60px; /* matches the height of SparklineChart */

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.no-history-chart .no-history-chart-icon {
  font-size: 12pt;
  color: rgba(0, 0, 0, 0.3);
}

.no-history-chart .no-history-chart-message {
  font-size: 90%;
  color: rgba(0, 0, 0, 0.65);
}

.utilization-card :global(.c3-tooltip-container) {
  white-space: nowrap;
}

.disk-fs-list {
  display: table;
  border-spacing: 10px 0;
}

.disk-fs-list .disk-fs-box {
  display: table-row;
}

.disk-fs-list .disk-fs-box > div {
  display: table-cell;
  vertical-align: top;
}

.disk-fs-box .disk-fs-bar {
  min-width: 100px;
}

.disk-fs-box .disk-fs-bar :global(.progress) {
  margin-bottom: 5px;
}

.disk-fs-box .disk-fs-used {
  margin-bottom: 10px;
}

.disk-fs-name {
  word-wrap: break-word;
  max-width: 80px;
}

.row-col-charts-box {
  flex-direction: row;
  justify-content: space-around;
}

.row-charts-box {
  justify-content: space-around;
}

.col-charts-box {
  min-width: 200px;
}

.donut-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media (min-width: 1250px) {
  .row-charts-box {
    flex-wrap: nowrap;
  }
  .row-col-charts-box {
      flex-wrap: nowrap;
      max-width: 50%;
  }
  .col-charts-box {
      max-width: 50%;
  }
}

@media (min-width: 850px) and (max-width: 1250px) {
  .row-charts-box {
    flex-wrap: wrap;
  }
  .row-col-charts-box {
      flex-wrap: nowrap;
      max-width: 100%;
  }
  .col-charts-box {
      max-width: 50%;
  }
}

@media (max-width: 850px) {
  .row-charts-box {
    flex-wrap: wrap;
  }
  .row-col-charts-box {
      flex-wrap: wrap;
      max-width: 100%;
  }
  .col-charts-box {
      max-width: 100%;
  }
}

.area-box :global(svg:not(:root)) {
  overflow: visible;
}
