.modal-container div {
    margin-top: 10px;
}

.modal-container h3 {
    margin-top: 0;
}

.console-detail-container {
    display: flex;
}

:global(.toolbar-pf .form-group) .color-blue {
    color: #0088ce;
}

.console-detail-container dt {
    clear: left;
    float: left;
    width: 100px;
    min-height: 26px;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-weight: normal;
    text-align: right;
    margin-right: 20px;
    font-weight: bold;
    line-height: 2;
}

.console-detail-container dd {
    margin-left: 110px;
    min-height: 26px;
    max-width: 1000px;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-top: 2px;
}

.console-modal-box {
	display: inline-block;
}

.console-dropdown-label {
	margin-right: 10px;
}

.console-dropdown-box {
	margin-right: 10px;
}

.download-page-container {
	display: flex;
    justify-content: center;
}


.download-page-content {
	margin-top: auto;
    margin-bottom: auto;
    text-align: center;
}

.download-page-main-text {
	display: block;
    font-size: 25px;
    margin-top: 20px;
}

.download-page-secondary-text {
	display: block;
    font-size: 15px;
    margin-top: 20px;
}

.loaderBox {
    width: 100%;
    text-align: center;
    align-content: center;
    margin-top: 60px;
}

.loader {
    border: 6px solid #e3e3e3; /* Light grey */
    border-top: 6px solid #292e34; /* Blue */
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 2s linear infinite;
    margin-left: auto;
    margin-right: auto;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
