.navbar-header .navbar-brand
{
    padding: 0px 0 5px;
}

.auditlog-unread {
    color: red;
    font-weight: bold;
}

.auditlog-allread {
    /*color: white;*/
}

.user-name {

}
/*
.auditlog-table {
    margin-top: 2px;
}
*/