html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: column;
}

#replace_with_index_jsp_template {
  display: none;
}

#root {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

/*
 * App will render inside #root and will be 100% height of body and window.
 *
 * The render-component should handle overflow scrolling of its content so
 * the navbar, breadcrumbs and toolbars can stay fixed to the top of the page.
 */
#app-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

#page-router {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

#page-router-render-component {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  background: #f5f5f5;
  overflow: auto;
}

#page-router-render-component > *:last-child {
  flex-grow: 1;
}

/*
 * PatternFly overrides
 *   NOTE: 'flex-shrink: 0;' keeps a div from getting smaller when the window
 *         gets shorter or a scrollbar is added to the page
 */

.navbar-pf-vertical {
  flex-shrink: 0;
}

.navbar-pf-vertical .nav .nav-item-iconic .badge {
  margin-left: -2px !important;
  margin-right: 0;
}

.breadcrumb {
  flex-shrink: 0;

  border-bottom: solid gray;
  padding-left: 15px;
  margin-bottom: 0;
}

.toolbar-pf {
  flex-shrink: 0;
}

.toolbar-pf-height-shim {
  height: 28px;
}

.card-pf .card-pf-footer {
  background-color: inherit;
  padding-top: 10px;

  display: flex;
  flex-direction: row-reverse;
}

.card-pf .card-pf-footer button {
  margin-left: 5px;
  height: 28px;
  width: 28px;
}

.bootstrap-switch-container .bootstrap-switch-label {
  height: 27px !important;
  margin-bottom: -9px !important;
}

.bootstrap-switch-handle-on {
  padding: 5px !important;
}

.alert {
  margin-top: 30px;
  margin-left: 30px;
  margin-right: 30px;
  z-index: 100;
}

.static-confirm {
  position: relative;
}

.popover {
  min-width: 120px;
}

.popover-content {
  text-align: center;
}

.card-pf.card-pf-view.card-pf-view-select.card-pf-view-single-select {
  padding-left: 0;
  padding-right: 0;
}

.message-dialog-pf .modal-body .pficon {
    font-size: 30px;
    margin-right: 15px;
}

.message-dialog-pf .modal-body {
    display: -ms-flexbox;
    display: flex;
}

.navbar-nav > .dropdown {
  position: inherit;
}

.drawer-pf .blank-slate-pf .blank-slate-pf-title {
    font-size: 1em;
    margin-bottom: 0;
    margin-top: 15px;
}

.detail-container {
  background: #fff;
}

.form-group.required .control-label:after {
  content:"*";
  color:red;
}
