body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.styled-checkbox {
  width: 100%;
}

.styled-checkbox:before {
  outline: 1px solid black;
  font-family: 'Glyphicons Halflings';
  content: '';
  margin-top: 5px;
  width: 15px;
  height: 15px;
  position: absolute;
  display: inline-block;
  font-size: 11px;
  text-align: center;
  line-height: 15px;
}

.styled-checkbox.checked:before
{
  content: '\e013';
}

.styled-checkbox > input[type='checkbox'] {
  opacity: 0;
}

.styled-checkbox > span {
  height: 100%;
  margin-left: 10px;
  font-weight: normal;
}

div.toolbar-pf {
  height: 38px;
  padding-top: 0;
  margin-top: 5px;
}

.alert {
  top: 30px;
  margin-left: 201px;
}

.bootstrap-switch-container .bootstrap-switch-label {
  height: 27px !important;
  margin-bottom: -9px !important;
}

.bootstrap-switch-handle-on {
  padding: 5px !important;
}

.static-confirm {
  position: relative;
}

.popover-content {
  text-align: center;
}

.navbar-pf-vertical .nav .nav-item-iconic .badge {
  margin-left: -2px !important;
  margin-right: 0;
}
