html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;

  display: flex;
}

#replace_with_index_jsp_template {
  display: none;
}

#root {
  flex-grow: 1;
  display: flex;
}

.pf-c-toolbar.portaled-toolbars-padding {
  padding-top: 5px;
  padding-bottom: 5px;
}

.obrand_masthead .pf-c-masthead__content .pf-c-toolbar {
    background-color: transparent;
}

/*
 * App will render inside #root and will be 100% height of body and window.
 *
 * The render-component should handle overflow scrolling of its content so
 * the navbar, breadcrumbs and toolbars can stay fixed to the top of the page.
 */
#app-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

#page-router {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

#page-router-render-component {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  background: #f5f5f5;
  overflow: auto;
  border-top-style: inset;
  border-width: thin;

  /* scroll container wrapper */
  position: relative;
}

#page-router-render-component > *:last-child {
  flex-grow: 1;

  /* scroll container*/
  position: absolute;
  overflow-y: auto;

  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  margin-top: 0;
  padding-top: 20px;
}

#page-router-render-component .pf-c-console {
    grid-template-rows: min-content 1fr;
    padding-top: 0;
    row-gap: 0;
}

/* follow the styling used by the toolbars
* see: .portaled-toolbars-padding
*/
.pf-c-console  .pf-c-console__actions-vnc {
  padding-right: 1rem;
  padding-top: 5px;
  padding-bottom: 5px;
}

.pf-c-console .pf-c-console__vnc{
    position: relative;
}

a.disabled {
  color: #8b8d8f !important;
  cursor: not-allowed !important;
  text-decoration: none;
}

.unsupported-browser-container {
  flex-grow: 1;
  background: #131313;
  color: white;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.unsupported-browser-box {
  text-align: center;
}

.unsupported-browser-box h2 {
  margin-bottom: 80px;
  font-weight: bold;
}

.browser-suggestions {
  background: #202020;
  padding-bottom: 30px;
  padding-top: 30px;
}

.browser-suggestions h4 {
  font-weight: bold;
}

.browser-suggestions ul {
  display: inline-block;
  text-align: left;
}


textarea {
  resize: vertical;
}


