html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: column;
}

#replace_with_index_jsp_template {
  display: none;
}

#root {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

/*
 * App will render inside #root and will be 100% height of body and window.
 *
 * The render-component should handle overflow scrolling of its content so
 * the navbar, breadcrumbs and toolbars can stay fixed to the top of the page.
 */
#app-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

#page-router {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

#page-router-render-component {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  background: #f5f5f5;
  overflow: auto;
}

#page-router-render-component > *:last-child {
  flex-grow: 1;
}

/*
 * PatternFly overrides
 *   NOTE: 'flex-shrink: 0;' keeps a div from getting smaller when the window
 *         gets shorter or a scrollbar is added to the page
 */

.navbar-pf-vertical {
  flex-shrink: 0;
}

.navbar-pf-vertical .nav .nav-item-iconic .badge {
  margin-left: -1px;
  margin-top: -6px;
  margin-right: 0;
}

.navbar-pf-vertical .nav .nav-item-iconic .caret {
  margin-left: 4px;
}

.breadcrumb {
  flex-shrink: 0;

  border-bottom: solid gray;
  padding-left: 15px;
  margin-bottom: 0;
}

.toolbar-pf {
  flex-shrink: 0;
}

.toolbar-pf-height-shim {
  height: 28px;
}

@media (max-width: 768px) {
  .toolbar-pf-action-right {
    float: right;
  }
}

.card-pf .card-pf-footer {
  background-color: inherit;
  padding-top: 10px;

  display: flex;
  flex-direction: row-reverse;
}

.card-pf .card-pf-footer button {
  margin-left: 5px;
  height: 28px;
  width: 28px;
}

.bootstrap-switch-container .bootstrap-switch-label {
  height: 27px !important;
  margin-bottom: -9px !important;
}

.bootstrap-switch-handle-on {
  padding: 5px !important;
}

.error-alert {
  margin-top: 30px;
  margin-left: 30px;
  margin-right: 30px;
  z-index: 100;
}

.static-confirm {
  position: relative;
}

.popover {
  min-width: 120px;
}

.popover-content {
  text-align: center;
}

.card-pf.card-pf-view.card-pf-view-select.card-pf-view-single-select {
  padding-left: 0;
  padding-right: 0;
}

.message-dialog-pf .modal-body .pficon {
    font-size: 30px;
    margin-right: 15px;
}

.message-dialog-pf .modal-body {
    display: -ms-flexbox;
    display: flex;
}

.drawer-pf .blank-slate-pf .blank-slate-pf-title {
    font-size: 1em;
    margin-bottom: 0;
    margin-top: 15px;
}

.detail-container {
  background: #fff;
}

.form-group.required .control-label:before {
  content: "* ";
  color: red;
}

a.disabled {
  color: #8b8d8f !important;
  cursor: not-allowed !important;
  text-decoration: none;
}

/* patch patternfly expand-collapse section header icon so any icons used will match spacing */
.fields-section-header-pf .field-section-toggle-pf-icon {
  cursor: pointer;
  font-size: 14px;
  width: 14px;
}

.drawer-pf.drawer-alt-pf.drawer-pf-notifications {
  z-index: 101;
}

.unsupported-browser-container {
  flex-grow: 1;
  background: #131313;
  color: white;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.unsupported-browser-box {
  text-align: center;
}

.unsupported-browser-box h2 {
  margin-bottom: 80px;
  font-weight: bold;
}

.browser-suggestions {
  background: #202020;
  padding-bottom: 30px;
  padding-top: 30px;
}

.browser-suggestions h4 {
  font-weight: bold;
}

.browser-suggestions ul {
  display: inline-block;
  text-align: left;
}

.product-versions-pf li strong {
  margin-right: 0;
}

.vnc-console {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.vnc-console > div {
  height: calc(100vh - 150px);
}

textarea {
  resize: vertical;
}

.pficon-delete {
  color: #C9190B;
}

/*
 * For Advanced Options/ExpandCollapse pf3 component
 */

.expand-collapse-pf {
  margin-top: 15px;
}

.expand-collapse-pf-link-container {
  margin-bottom: 15px;
}

.expand-collapse-pf-link-container > .btn.btn-link {
  padding-left: 0;
}
