{
  "debug": true,

  "applicationContext": "/ovirt-engine",
  "applicationURL": "/ovirt-engine/web-ui",
  "applicationLogoutURL": "/ovirt-engine/web-ui/sso/logout",
  "sessionAgeFirstLoginThresholdInSeconds" : 60,

  "consoleClientResourcesURL": "https://www.ovirt.org/documentation/admin-guide/virt/console-client-resources/",
  "cockpitPort": "9090"
}
