.details-container {
  width: auto;
  margin-left: -15px; /* max is -20px to edge of the containing card */
  margin-right: -15px;
}

.fields-column {
  padding: 0;
  min-width: 250px;
}

.field-row + .field-row {
  margin-top: 5px;
}

.col-label {
  font-weight: bold;
  padding-left: 15px; /* 20px + -15px + this = px from edge */
  padding-right: 5px;
}

.col-data {
  padding-left: 5px;
  padding-right: 15px;
}

/*
 * For the console field
 */
.console-list-active {
  color: black;
}

.console-list-inactive {
  color: #888888;
}

.console-link {
  padding-right: 5px;
}

.console-link + .console-link {
  padding-left: 5px;
  border-left: 1px solid rgba(0, 0, 0, 0.2);
}

/*
 * For cloud-init and boot-menu on/off icons
 */
.cloud-init-field > span:global(.pficon),
.boot-menu-field > span:global(.pficon) {
  margin-right: 5px;
}

/*
 * For CPU and Memory input fields
 */
.cpu-input {
  margin-bottom: 3px;
  margin-right: 5px;
  width: 40%;
}

.memory-input {
  margin-bottom: 3px;
  margin-right: 5px;
  width: 40%;
  display: inline-block;
}

.hostname {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
