.details-container {
  width: auto;
  margin-left: -15px; /* max is -20px to edge of the containing card */
  margin-right: -15px;
}

.fields-column {
  padding: 0;
  min-width: 250px;
}

.field-row {
  max-width: 100%;
}

.field-row + .field-row {
  margin-top: 5px;
}

.field-row-divide {
  margin-top: 20px;
  margin-bottom: 5px;
}

.col-label {
  font-weight: bold;
  padding-left: 15px; /* 20px + -15px + this = px from edge */
  padding-right: 5px;
  flex-direction: row;
}

.col-label span {
  vertical-align: top;
}

.col-data {
  padding-left: 5px;
  padding-right: 15px;
}

/*
 * For cloud-init and boot-menu on/off icons
 */
.cloud-init-field > span:global(.pficon),
.boot-menu-field > span:global(.pficon) {
  margin-right: 5px;
}

/*
 * For CPU and Memory input fields
 */
.cpu-input {
  margin-bottom: 3px;
  margin-right: 5px;
  width: 40%;
}

.memory-input {
  margin-bottom: 3px;
  margin-right: 5px;
  width: 40%;
  display: inline-block;
}

button.field-level-help:global(.popover-pf-info) {
  flex-grow: 0;
}

/**
 * CPU tooltip list
 */
.cpu-tooltip-list {
  list-style: disc;
  padding-left: 30px;
}
