/* for NicsCard */
.nics-container {
  width: auto;
  margin-left: -15px; /* max is -20px to edge of the containing card */
  margin-right: -15px;
}

/* for NicRow (not already in itemListStyle.css) */
.link-icon {
  font-size: 14px;
}

.link-icon-up {
  color: #3f9c35;
}

.link-icon-down {
  color: red;
}

.vnic-info {
  padding-left: 5px;
}

.ip4-container,
.ip6-container {
  font-size: 10px;
  padding: 0 10px;
}
.ip6-container {
  padding-left: 0;
}

/* for NicEditor */
.editor-value-text {
  padding-top: 5px; /* == (ControlLabel padding-top) + (FieldLevelHelp icon padding-top) */
}

.field-help {
  margin-right: -7px;
}
