.settings-box {
    display: flex;
    margin-top: 20px;
}

.navigation-content {
    padding: 0;
    margin-right: 30px;
    display: table;
}

.search-content-box {
    flex-grow: 1;
    height: min-content;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
}

.main-content {
    margin-top: 20px;
    margin-left: 0;
    margin-right: 0;
}

.main-content-container {
    display: grid;
}

.field-label {
    text-align: right;
}

.settings-field {
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: solid 1px #0000001f;
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 0;
}

.alert-container {
    position: absolute;
    top: 5%;
    left: 25%;
    width: 50%;
}

.toolbar :global(.toolbar-pf.row) {
    padding-bottom: 10px;
    margin-left: 0;
}

.toolbar :global(.toolbar-pf-action-right) button {
    margin-right: 10px;
}

:global(#settings-toolbar) {
    margin-left: -20px;
}

.section-list{
    list-style-type: disc;
}

.field-list{
    list-style-type: circle;
    margin-inline-start: 1em;
}
