
.search-content-box {
    flex-grow: 1;
    height: min-content;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
}

.main-content {
    margin-bottom: 20px;
}

.settings-field {
    padding-top: 20px;
    border-bottom: solid 1px #0000001f;
}

.alert-container {
    position: absolute;
    top: 5%;
    left: 25%;
    width: 50%;
}

.section-list {
    list-style-type: disc;
    padding-left: var(--pf-c-modal-box__body--PaddingLeft);;
}

.field-list {
    list-style-type: circle;
    margin-inline-start: 1em;
}
