.nics-container {
  width: auto;
  margin-left: -15px; /* max is -20px to edge of the containing card */
  margin-right: -15px;
}

.ip4-container,
.ip6-container {
  font-size: 0.7em;
  padding: 0 10px;
}
