/*
 * Styles for the Overview Card
 */

.os-name-tag {
  position: absolute;
  top: 0;
  right: 10px;
  padding: 0 10px;

  background-color: #9c9c9c;
  font-size: 90%;
}

.vm-name {
  font-size: 150%;
  margin-bottom: 5px;
}

.vm-status {
  margin-bottom: 5px;
}

.vm-status .vm-status-icon {
  margin: 2px;
}

.vm-status .vm-status-text {
  margin-left: 5px;
}

.vm-description {
  white-space: pre-wrap;
}
