#
# CI for this project needs to do two things:
#   1. Setup the environment and run `yarn build`
#   2. Build the distribution rpm for use in QE/OST/Integration testing
#
name: run CI on PRs
on:
  pull_request:

jobs:

  test_el9_offline:
    name: EL9 (ovirt-engine-nodejs-modules build) - test, build and publish rpm repo for the PR
    env:
      OFFLINE_BUILD: 1

    runs-on: ubuntu-latest
    container:
      image: quay.io/ovirt/buildcontainer:el9stream

    steps:
      - name: Checkout sources
        uses: ovirt/checkout-action@main
      
      - name: install rpmlint
        run: dnf -y install rpmlint

      - name: Run automation/build.sh (installs build dependencies as necessary)
        run: ./automation/build.sh

      - name: Upload artifacts as rpm repo
        uses: ovirt/upload-rpms-action@main
        with:
          directory: exported-artifacts/
  
  test_el9_online:
    name: EL9 (online build) test and build the PR, but skip the rpm builds
    runs-on: ubuntu-latest
    container:
      image: quay.io/ovirt/buildcontainer:el9stream
    steps:
      - name: Install yarn (online mode does not use ovirt-engine-nodejs-modules so yarn isn't installed)
        run: |
          dnf -y config-manager --add-repo https://dl.yarnpkg.com/rpm/yarn.repo
          dnf -y --disablerepo='*' --enablerepo='yarn*' install yarn

      - name: Checkout sources
        uses: ovirt/checkout-action@main

      - name: Run 'yarn install' and 'yarn build' (like a developer would)
        run: |
          yarn install
          yarn build

  test_el10_offline:
    name: EL10 (ovirt-engine-nodejs-modules build) - test, build and publish rpm repo for the PR
    env:
      OFFLINE_BUILD: 1

    runs-on: ubuntu-latest
    container:
      image: quay.io/ovirt/buildcontainer:el10stream

    steps:
      - name: Checkout sources
        uses: ovirt/checkout-action@main

      - name: install rpmlint
        run: pip install rpmlint

      - name: Run automation/build.sh (installs build dependencies as necessary)
        run: ./automation/build.sh

      - name: Upload artifacts as rpm repo
        uses: ovirt/upload-rpms-action@main
        with:
          directory: exported-artifacts/

  test_el10_online:
    name: EL10 (online build) test and build the PR, but skip the rpm builds
    runs-on: ubuntu-latest
    container:
      image: quay.io/ovirt/buildcontainer:el10stream
    steps:
      - name: Install yarn (online mode does not use ovirt-engine-nodejs-modules so yarn isn't installed)
        run: |
          dnf -y install nodejs
          dnf -y config-manager --add-repo https://dl.yarnpkg.com/rpm/yarn.repo
          dnf -y --disablerepo='*' --enablerepo='yarn*' install yarn

      - name: Checkout sources
        uses: ovirt/checkout-action@main

      - name: Run 'yarn install' and 'yarn build' (like a developer would)
        run: |
          yarn install
          yarn build